/* Import Theme Variables */
@import './theme-variables.css';

.menu-container {
  @apply mx-auto flex w-full items-center justify-between bg-frame;
  max-width: 1460px;
  overflow-x: hidden;
}

.page-container {
  @apply h-full min-h-[55vh] px-4 md:px-8 2xl:px-0 mx-auto pb-8;
  max-width: 1460px;
  overflow-x: hidden;
}

.page-title-center {
  @apply pb-9 text-center font-Ravi-Bold text-2xl text-gray-700 lg:text-3xl;
  @media (max-width: 1023px) {
    @apply text-base;
  }
}
.page-title {
  @apply mb-6 font-RaviFaNum-Bold text-xl text-gray-500;
  @media (max-width: 1023px) {
    @apply text-base;
  }
}
#goftino_w {
  z-index: 10 !important;
}